h1 {
	font-size: 22px;
	text-align: center;
	margin: 20px 0px;
}

#login {
	background: #fefefe;
	min-height: 500px;
}

#formulario_login {
	font-size: 14px;
	border: 8px solid #112233;
}

label {
	display: block;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}

input[type=text],input[type=password] {
	padding: 10px 6px;
	width: 400px;
}

input[type=submit] {
	padding: 5px 40px;
	background: #61399d;
	color: #fff;
}

#campos_login {
	margin: 50px 0px;
}

p {
	color: #f00;
	font-weight: bold;
}