<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /practicas/codeigniter/ci_consultas/index.php/$1 [L] 
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /practicas/codeigniter/ci_consultas/index.php 
</IfModule>