/* W.I.P. (Warning Idiot Programmer): Codigo Elvadorado por Titiushko */
#formato{margin-bottom: 0px; line-height: normal; text-transform: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif; background: -moz-linear-gradient(-45deg, #A5A5A5 0%, #000000 100%) repeat fixed;}
#cabeza{color: #ffffff; font-size: 28px; text-align: center;}
#cuerpo{
    /*top: 50%;*/
    left: 50%;
	position: absolute;		/*posicionarce en el centro del navegador*/
    width: 800px;			/*determinar una anchura*/
    margin-left: -430px;	/*margen izquierdo es la mitad de la anchura*/
    /*height: 350px;*/			/*determinar una altura*/
    /*margin-top: -175px;*/		/*margen superior es la mitad de la altura*/
    /*border: 2px solid #ffffff;*/
	border-radius: 20px;
	background: #76a5d3;
    padding: 20px;
}
#cuerpo h2{color: #0060A0; text-align: center;}
.cuadricula{border-collapse: collapse; background: #ffffff; margin-left: auto; margin-right: auto;}
#cuerpo .cuadricula a:link{text-decoration: none; color: #000000;}
#cuerpo .cuadricula a:visited{text-decoration: none; color: #000000;font-weight: normal;}
#cuerpo .cuadricula a:hover{text-decoration: underline; color: #0060A0; font-weight: normal;}
#cuerpo a:link{text-decoration: none; color: #ffffff;}
#cuerpo a:visited{text-decoration: none; color: #ffffff;font-weight: normal;}
#cuerpo a:hover{text-decoration: underline; color: #F5FF3A; font-weight: normal;}
#cuerpo p{text-align: center;}
#cuerpo input{width: 200px;}
#cuerpo input[type="submit"], #cuerpo input[type="button"]{width: 80px;}
#cuerpo select, #cuerpo textarea{width: 200px;}

#medio_formato{margin-bottom: 0px; line-height: normal; text-transform: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
#medio_cuerpo{background: #76a5d3; padding: 0px 20px 0px 20px;}
#medio_cuerpo .cuadricula input{border: 0px; font-size: 16px; font-family: Arial, Helvetica, sans-serif;}