label{
	display: block
}	
.formu{
    padding: 5px;
    margin: 0px 0px 10px 20px
}
.campo{
	padding: 5px; width: 350px;
	box-shadow:0 0 0 3px #EEF5F7;
}
fieldset{
	font-weight: bold;
	width: 600px; 
	margin: 50px 0px 0px 300px; 
	border: none; 
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #edfcff;
}
legend{
	margin: 30px 0px 15px 20px
}
input[type=submit]{		
	border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
    border-radius: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	background: #e4f1f6;
	background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
input[type='submit']:hover{
    background: #edfcff;
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
textarea{
	box-shadow:0 0 0 3px #EEF5F7;
}
			
.error{
    background-color: #BC1010;
    padding: 3px 6px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 0px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
			
.correcto{
	background-color: #EEF5f9;
	box-shadow: 0px 0px 1px 1px #000;
	width: 270px; 
	margin-left: 20px
}	

.loader{
	display: none;
	margin-left: 200px;
	margin-top: -45px;
	position: absolute;
}