<div class="row"> 
    <form>
        <fieldset>
            <legend>Editar un post</legend>

            <div class="row">
                <div class="large-12 columns">
                    <label>Nombre</label>
                    <input type="text" placeholder="Título" ng-model="post.title" value="{{ post.title}}" required>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Contenido</label>
                    <textarea required ng-model="post.content" placeholder="Contenido">{{ post.content}}</textarea>
                </div>
            </div>
            <button type="submit" ng-click="editPost(post)" class="button large-12">Editar el post</button>
            <a href="#/dashboard" class="button large-12 success">Volver al dashboard</a>
        </fieldset>
    </form>
</div>